<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:context="http://www.springframework.org/schema/context" 
xmlns:p="http://www.springframework.org/schema/p"
xmlns:util="http://www.springframework.org/schema/util" 
xmlns:tx="http://www.springframework.org/schema/tx" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/util 
http://www.springframework.org/schema/util/spring-util.xsd">
<util:list list-class="java.util.ArrayList" id="arraylist" >
<value>1234</value>
<value>2345</value>
<value>45323</value>
<value>9034</value>
</util:list>
<bean class ="com.springcore.springcore.standlone.collections.Test" name="test">
	<property name="list" ref="arraylist"/>
	<!-- <list>
		<ref bean="arraylist"/>
	</list>
	</property> -->
</bean>
 </beans>